<nav hx-boost="true">
  <ul>
    <li><a href="/tabs_hateoas/tab1" class="contrast">Tab1</a></li>
    <li><a href="/tabs_hateoas/tab2" class="contrast">Tab2</a></li>
    <li><a href="/tabs_hateoas/tab3">Tab3</a></li>
  </ul>
</nav>
<section>
  <blockquote>
    "Ignorance is not bliss. Ignorance is poverty. Ignorance is devastation.
    Ignorance is tragedy. And ignorance is illness. It all stems from
    ignorance." – Jim Rohn
    <footer><cite>– Jim Rohn</cite></footer>
  </blockquote>
</section>
