{% extends 'base.html' %}

{% block style %}
  {% include "pico-examples-style.html" %}
{% endblock style %}

{% block content %}
<div class="grid" id="pico_examples">
  <div>{% include "pico-examples-menu.html" %}</div>
  <div>
    <div>
      <h2>Horizontal stacking</h2>
      <fieldset>
        <legend>Language preferences:</legend>
        <input type="radio" id="hindi" name="language" checked />
        <label for="hindi">Hindi</label>
        <input type="radio" id="swahili" name="language" />
        <label for="swahili">Swahili</label>
        <input type="radio" id="navi" name="language" disabled />
        <label for="navi">Na'vi</label>
      </fieldset>
    </div>
    <div>
      <h2>Vertical stacking</h2>
      <fieldset>
        <legend>Language preferences:</legend>
        <label>
          <input type="radio" name="second-language" checked />
          English
        </label>
        <label>
          <input type="radio" name="second-language" />
          French
        </label>
        <label>
          <input type="radio" name="second-language" />
          Mandarin
        </label>
        <label>
          <input type="radio" name="second-language" />
          Thai
        </label>
        <label>
          <input type="radio" name="second-language" disabled />
          Dothraki
        </label>
      </fieldset>
    </div>
  </div>
</div>
{% endblock content %}
