{% for idx, contact in contacts.items() %} {% if idx == id %}
<tr>
  <td>
    <input type="hidden" name="id" value="{{ id }}" /><input
      type="text"
      name="name"
      value="{{ contact.name }}"
    />
  </td>
  <td>{{ contact.email }}</td>
  <td>
    <button
      class="secondary"
      hx-get="/edit_row/"
      hx-target="#edit_table"
      hx-swap="outerHTML"
    >
      Cancel</button
    ><button
      hx-put="/edit_row/contact/{{ idx }}/edit"
      hx-include="closest tr"
      hx-target="#edit_table"
      hx-swap="outerHTML"
    >
      Save
    </button>
  </td>
</tr>
{% endif %} {% endfor %}
