<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="2"/> -->
    <title>{% block title %}{% endblock title %}</title>
    <!-- Pico CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <!-- htmx -->
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <style>
      {% block style %}{% endblock style %}
    </style>
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Flask with HTMX and Pico CSS</h1>
        <p>
          Examples of using HTMX for interactivity and
          <a href="/pico_examples">Pico</a> for styling
          <a href="#" id="theme-switcher">&#9965;</a>
        </p>
      </hgroup>
      <div>{% block content %}{% endblock content %}</div>
    </main>
    <!-- switch betwen auto/light/dark -->
    <script>
      let isLight = true;
      const html = document.documentElement;
      const switchTheme = document.getElementById("theme-switcher");

      document.addEventListener("DOMContentLoaded", () => {
        html.setAttribute("data-theme", "auto");
      });
      switchTheme.addEventListener("click", (e) => {
        e.preventDefault();
        isLight = !isLight;
        html.setAttribute("data-theme", isLight ? "light" : "dark");
      });
    </script>
  </body>
</html>
