{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block style %}
#htmx-examples {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
{% endblock style %}

{% block content %}
<div class="grid" id="htmx-examples">
  <div hx-boost="true" hx-target="#content" hx-push-url="false">
    <div><a href="/html5_test">HTML5 test examples</a></div>
    <div><a href="/click_to_edit">Click to edit</a></div>
    <div><a href="/bulk_update">Bulk update</a></div>
    <div><a href="/click_to_load">Click to load</a></div>
    <div><a href="/delete_row">Delete row</a></div>
    <div><a href="/edit_row">Edit row</a></div>
    <div><a href="/lazy_loading">Lazy loading</a></div>
    <div><a href="/inline_validation">Inline validation</a></div>
    <div><a href="/infinite_scroll">Infinite scroll</a></div>
    <div><a href="/active_search">Active search</a></div>
    <div><a href="/progress_bar">Progress bar</a></div>
    <div><a href="/value_select">Value select</a></div>
    <div><a href="/dialogs_pico">Dialogs pico</a></div>
    <div><a href="/tabs_hateoas">Tabs HATEOAS</a></div>
  </div>
  <div id="content">{{ text }}</div>
</div>
{% endblock content %}
