<aside>
  <nav>
    <ul>
      <li><a href="/pico_examples/typography">Typography</a></li>
      <li><a href="/pico_examples/button">Button</a></li>
      <li><a href="/pico_examples/form">Form</a></li>
      <li><a href="/pico_examples/input">Input</a></li>
      <li><a href="/pico_examples/select">Select</a></li>
      <li><a href="/pico_examples/checkbox">Checkbox</a></li>
      <li><a href="/pico_examples/radio">Radio</a></li>
      <li><a href="/pico_examples/switch">Switch</a></li>
      <li><a href="/pico_examples/range">Range</a></li>
      <li><a href="/pico_examples/accordion">Accordion</a></li>
      <li><a href="/pico_examples/card">Card</a></li>
      <li><a href="/pico_examples/dropdown">Dropdown</a></li>
      <li><a href="/pico_examples/loading">Loading</a></li>
      <li><a href="/pico_examples/modal">Modal</a></li>
      <li><a href="/pico_examples/nav">Nav</a></li>
      <li><a href="/pico_examples/progress">Progress</a></li>
      <li><a href="/pico_examples/tooltip">Tooltip</a></li>
    </ul>
  </nav>
</aside>
