<div class="grid">
  <div>
    <h3>Pick a Make/Model</h3>
    <form>
      <fieldset>
        <label>Make</label>
        <select name="make" hx-get="/value_select/models" hx-target="#models">
          <option value="audi">Audi</option>
          <option value="toyota">Toyota</option>
          <option value="bmw">BMW</option>
        </select>
        <label>Model</label>
        <select name="model" id="models">
          {% include "value_select/partial_models.html" %}
        </select>
      </fieldset>
    </form>
  </div>
  <div></div>
</div>
